In [3]:
import pandas as pd
import numpy as np

Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl

In [4]:
!jt -t chesterish

In [157]:
data = pd.read_csv('data/AK_CA_Burned_Plot_Data_1983_2016.csv')

In [158]:
data

,project_id,project_name,treatment,site,burn_name,burn_year,ecoregion_name_l2,latitude,longitude,accuracy_horizontal,...,temperature,relative_humidity,wind_speed,drought_code,drought_moisture_code,fine_fuel_moisture_code,initial_spread_index,buildup_index,fire_weather_index,daily_severity_rank
0,NWT_BCKE.sf.1,NWT_BCKE,burn,Jan-94,NaN,1994,Taiga Plains,61.5271,-117.2279,-9999.0,...,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.000,-9999.0000
1,NWT_BCKE.sf.2,NWT_BCKE,burn,Jan-94,1994,1994,Taiga Plains,61.5272,-117.2282,-9999.0,...,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.000,-9999.0000
2,NWT_BCKE.sf.3,NWT_BCKE,burn,Jan-94,1994,1994,Taiga Plains,61.5273,-117.2284,-9999.0,...,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.000,-9999.0000
3,NWT_BCKE.sf.4,NWT_BCKE,burn,Jan-94,1994,1994,Taiga Plains,61.5270,-117.2288,-9999.0,...,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.000,-9999.0000
4,NWT_BCKE.sf.5,NWT_BCKE,burn,Jan-94,1994,1994,Taiga Plains,61.5271,-117.2290,-9999.0,...,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.000,-9999.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,NWT_BCKE.sf.321,NWT_BCKE,burn,ZF46-5,ZF46,2014,Taiga Plains,62.4809,-116.5036,-9999.0,...,27.17,36.56,10.97,310.32,42.73,91.01,8.61,63.58,22.607,6.7857
1168,NWT_BCKE.sf.322,NWT_BCKE,burn,ZF46-5,ZF46,2014,Taiga Plains,62.4810,-116.5041,-9999.0,...,27.17,36.56,10.97,310.32,42.73,91.01,8.61,63.58,22.607,6.7857
1169,NWT_BCKE.sf.323,NWT_BCKE,burn,ZF46-5,ZF46,2014,Taiga Plains,62.4814,-116.5027,-9999.0,...,27.17,36.56,10.97,310.32,42.73,91.01,8.61,63.58,22.607,6.7857
1170,NWT_BCKE.sf.324,NWT_BCKE,burn,ZF46-5,ZF46,2014,Taiga Plains,62.4814,-116.5034,-9999.0,...,27.17,36.56,10.97,310.32,42.73,91.01,8.61,63.58,22.607,6.7857
1171,NWT_BCKE.sf.325,NWT_BCKE,burn,ZF46-5,ZF46,2014,Taiga Plains,62.4815,-116.5039,-9999.0,...,27.17,36.56,10.97,310.32,42.73,91.01,8.61,63.58,22.607,6.7857

In [186]:
data14 = data.loc[data['burn_year'] == '2014']

In [187]:
data14 = data14.loc[data14['ecoregion_name_l2'] == 'Taiga Plains']

In [188]:
data14 = data14.drop(['project_id', 'project_name', 'site','burn_name','burn_year','ecoregion_name_l2',
                      'latitude','longitude','accuracy_horizontal','elevation','accuracy_vertical', 
                      'aspect','stand_density','stand_basal_area','prop_black_spruce','stand_age',
                      'stand_origin','ag_biomass_prefire','ag_c_prefire','ag_biomass_combusted',
                      'ag_c_combusted','prefire_sol','mean_residual_org_layer_depth','burn_depth',
                      'prop_sol_combusted','residual_sol_c','bg_c_prefire','bg_c_combusted',
                      'prop_sol_c_combusted','total_c_pool_prefire','prop_prefire_bg_c', 'slope',
                      'total_c_combusted','prop_total_bg_c_combusted','prop_total_prefire_c_combusted', 
                      'drought_code', 'drought_moisture_code', 'fine_fuel_moisture_code', 'moisture',
                      'initial_spread_index', 'buildup_index', 'fire_weather_index','daily_severity_rank'], axis=1)

In [189]:
data14 = data14.rename(columns={"relative_humidity": "humidity"})

In [190]:
data14.columns

Index(['treatment', 'dob', 'precipitation', 'temperature', 'humidity',
       'wind_speed'],
      dtype='object')

In [191]:
data14['dob'] = data14['dob'].apply(np.floor)

In [192]:
data14 = data14[data14.dob != -9999. ]
data14 = data14[data14.dob != 0]

In [193]:
data14.dob.unique()

array([182., 189., 183., 178., 179., 195., 194., 214., 211., 210., 200.,
       205., 196., 192., 206., 204., 225., 201., 215., 213., 223., 216.,
       177., 188., 254., 193.])

In [194]:
data14[data14['dob'] == 182]

    treatment    dob  precipitation  temperature  humidity  wind_speed
568      burn  182.0          0.879         24.9      44.6        4.93
569      burn  182.0          0.879         24.9      44.6        4.93
587      burn  182.0          0.879         24.9      44.6        4.93
588      burn  182.0          0.879         24.9      44.6        4.93
589      burn  182.0          0.879         24.9      44.6        4.93
592      burn  182.0          0.879         24.9      44.6        4.93
903      burn  182.0          0.879         24.9      44.6        4.93
904      burn  182.0          0.879         24.9      44.6        4.93
905      burn  182.0          0.879         24.9      44.6        4.93
906      burn  182.0          0.879         24.9      44.6        4.93
907      burn  182.0          0.879         24.9      44.6        4.93
908      burn  182.0          0.879         24.9      44.6        4.93
909      burn  182.0          0.879         24.9      44.6        4.93
910      burn  182.0          0.879         24.9      44.6        4.93
911      burn  182.0          0.879         24.9      44.6        4.93
912      burn  182.0          0.879         24.9      44.6        4.93
913      burn  182.0          0.879         24.9      44.6        4.93
914      burn  182.0          0.879         24.9      44.6        4.93
921      burn  182.0          0.879         24.9      44.6        4.93
923      burn  182.0          0.879         24.9      44.6        4.93
924      burn  182.0          0.879         24.9      44.6        4.93
925      burn  182.0          0.879         24.9      44.6        4.93
926      burn  182.0          0.879         24.9      44.6        4.93

In [195]:
data14 = data14.groupby('dob', as_index=False, sort=True)[['treatment', 'precipitation', 'temperature',
                                                 'humidity', 'wind_speed']].median()

C:\Users\David_Cheung\AppData\Local\Temp\ipykernel_25964\3661837809.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  'humidity', 'wind_speed']].median()

In [196]:
data14 = data14.rename(columns={'wind_speed' : 'windspeed'})

In [197]:
data14['burn'] = '1'

In [198]:
data14

      dob  precipitation  temperature  humidity  windspeed burn
0   177.0       1.130000        24.53     28.21      11.28    1
1   178.0       0.000145        27.68     24.73       2.92    1
2   179.0       0.016400        27.56     30.24       5.06    1
3   182.0       0.879000        24.90     44.60       4.93    1
4   183.0       0.326000        28.47     32.26       8.19    1
5   188.0       0.629000        21.40     50.58       1.15    1
6   189.0       0.188000        24.63     51.23       6.14    1
7   192.0       0.007730        18.75     32.93       8.65    1
8   193.0       0.816000        17.09     47.56      12.24    1
9   194.0       0.007660        28.40     40.09       9.37    1
10  195.0       0.000017        32.79     33.99       8.35    1
11  196.0      19.200000        26.05     55.42       5.28    1
12  200.0       0.005160        19.82     38.00       6.83    1
13  201.0       0.004060        21.57     31.85       5.12    1
14  204.0       0.000069        27.17     36.56      10.97    1
15  205.0       0.036000        24.98     37.99      21.85    1
16  206.0       0.000671        24.21     44.62       4.37    1
17  210.0       0.001010        28.37     34.55       4.04    1
18  211.0       0.015100        27.63     42.81      11.23    1
19  213.0       0.113000        19.09     35.47      15.78    1
20  214.0       0.000142        24.97     35.62       8.24    1
21  215.0       0.002750        23.96     41.79       5.74    1
22  216.0       0.002040        23.15     46.77      10.59    1
23  223.0       0.070300        17.72     41.55       6.62    1
24  225.0       0.011900        23.56     52.47      19.39    1
25  254.0       0.000037        13.92     40.04       8.89    1

Below is the data preprocessing of the weather data

In [199]:
weatherdata14 = pd.read_csv('data/taigaweather2014.csv')

In [200]:
weatherdata14['dob'] = np.arange(len(weatherdata14))
weatherdata14['dob']

0        0
1        1
2        2
3        3
4        4
      ...
360    360
361    361
362    362
363    363
364    364
Name: dob, Length: 365, dtype: int32

In [201]:
def inc(value):
    return value + 1
weatherdata14['dob'] = weatherdata14['dob'].apply(inc)

In [202]:
weatherdata14 = weatherdata14.drop(['name', 'datetime', 'tempmin', 'temp', 'feelslikemax', 'feelslikemin', 'feelslike', 'dew', 'precipprob', 'precipcover', 'preciptype', 'windgust', 'winddir', 'sealevelpressure','cloudcover', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'sunrise', 'snowdepth',
       'sunset', 'moonphase', 'conditions', 'description', 'icon', 'stations'], axis=1)

In [203]:
weatherdata14.columns

Index(['tempmax', 'humidity', 'precip', 'snow', 'windspeed', 'dob'], dtype='object')

In [204]:
weatherdata14 = weatherdata14.rename(columns={"tempmax": "temperature", "precip": "precipitation"})

In [205]:
weatherdata14.columns

Index(['temperature', 'humidity', 'precipitation', 'snow', 'windspeed', 'dob'], dtype='object')

Below is the merging of the 2 dataframes

In [261]:
final14 = pd.merge(data14, weatherdata14, how='outer', on='dob')

In [262]:
final14

,dob,precipitation_x,temperature_x,humidity_x,windspeed_x,burn,temperature_y,humidity_y,precipitation_y,snow,windspeed_y
0,177.0,1.130000,24.53,28.21,11.28,1,25.1,58.4,0.0,0.0,20.5
1,178.0,0.000145,27.68,24.73,2.92,1,23.1,56.0,0.0,0.0,20.4
2,179.0,0.016400,27.56,30.24,5.06,1,17.1,81.7,0.0,0.0,24.0
3,182.0,0.879000,24.90,44.60,4.93,1,25.1,53.3,0.0,0.0,14.7
4,183.0,0.326000,28.47,32.26,8.19,1,26.1,51.6,0.0,0.0,16.5
...,...,...,...,...,...,...,...,...,...,...,...
360,361.0,NaN,NaN,NaN,NaN,NaN,-24.9,70.5,0.0,0.0,14.8
361,362.0,NaN,NaN,NaN,NaN,NaN,-19.9,78.1,0.0,0.0,18.4
362,363.0,NaN,NaN,NaN,NaN,NaN,-19.0,73.7,0.0,0.0,25.9
363,364.0,NaN,NaN,NaN,NaN,NaN,-10.9,84.7,0.0,0.0,31.7
364,365.0,NaN,NaN,NaN,NaN,NaN,-12.9,73.1,0.0,0.0,27.7

In [263]:
final14['burn'] = final14['burn'].fillna(0)

In [264]:
final14['temperature'] = final14[['temperature_x', 'temperature_y']].mean(axis=1)
final14['precipitation'] = final14[['precipitation_x', 'precipitation_y']].mean(axis=1)
final14['humidity'] = final14[['humidity_x', 'humidity_y']].mean(axis=1)
final14['windspeed'] = final14[['windspeed_x', 'windspeed_y']].mean(axis=1)

In [265]:
final14

,dob,precipitation_x,temperature_x,humidity_x,windspeed_x,burn,temperature_y,humidity_y,precipitation_y,snow,windspeed_y,temperature,precipitation,humidity,windspeed
0,177.0,1.130000,24.53,28.21,11.28,1,25.1,58.4,0.0,0.0,20.5,24.815,0.565000,43.305,15.890
1,178.0,0.000145,27.68,24.73,2.92,1,23.1,56.0,0.0,0.0,20.4,25.390,0.000073,40.365,11.660
2,179.0,0.016400,27.56,30.24,5.06,1,17.1,81.7,0.0,0.0,24.0,22.330,0.008200,55.970,14.530
3,182.0,0.879000,24.90,44.60,4.93,1,25.1,53.3,0.0,0.0,14.7,25.000,0.439500,48.950,9.815
4,183.0,0.326000,28.47,32.26,8.19,1,26.1,51.6,0.0,0.0,16.5,27.285,0.163000,41.930,12.345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,361.0,NaN,NaN,NaN,NaN,0,-24.9,70.5,0.0,0.0,14.8,-24.900,0.000000,70.500,14.800
361,362.0,NaN,NaN,NaN,NaN,0,-19.9,78.1,0.0,0.0,18.4,-19.900,0.000000,78.100,18.400
362,363.0,NaN,NaN,NaN,NaN,0,-19.0,73.7,0.0,0.0,25.9,-19.000,0.000000,73.700,25.900
363,364.0,NaN,NaN,NaN,NaN,0,-10.9,84.7,0.0,0.0,31.7,-10.900,0.000000,84.700,31.700
364,365.0,NaN,NaN,NaN,NaN,0,-12.9,73.1,0.0,0.0,27.7,-12.900,0.000000,73.100,27.700

In [266]:
final14.columns

Index(['dob', 'precipitation_x', 'temperature_x', 'humidity_x', 'windspeed_x',
       'burn', 'temperature_y', 'humidity_y', 'precipitation_y', 'snow',
       'windspeed_y', 'temperature', 'precipitation', 'humidity', 'windspeed'],
      dtype='object')

In [267]:
final14 = final14.drop(['precipitation_x', 'temperature_x', 'humidity_x', 'windspeed_x','temperature_y',
              'humidity_y', 'precipitation_y','windspeed_y'], axis=1)

In [268]:
final14 = final14.sort_values(by=['dob'])

In [269]:
final14 = final14[['dob', 'temperature', 'humidity', 'precipitation', 'snow', 'windspeed', 'burn']]

In [270]:
final14 = final14.reset_index(drop=True)

In [271]:
final14

       dob  temperature  humidity  precipitation  snow  windspeed burn
0      1.0        -33.0      65.4            0.0   0.0       12.9    0
1      2.0        -23.9      75.8            0.0   0.0       29.4    0
2      3.0        -28.0      69.2            0.0   0.0       31.6    0
3      4.0        -30.9      67.8            0.0  25.0       22.4    0
4      5.0        -35.9      65.4            0.0   0.0       12.9    0
..     ...          ...       ...            ...   ...        ...  ...
360  361.0        -24.9      70.5            0.0   0.0       14.8    0
361  362.0        -19.9      78.1            0.0   0.0       18.4    0
362  363.0        -19.0      73.7            0.0   0.0       25.9    0
363  364.0        -10.9      84.7            0.0   0.0       31.7    0
364  365.0        -12.9      73.1            0.0   0.0       27.7    0

[365 rows x 7 columns]